<h1 class="display-5">A cross-verified database of notable people, from 3500BC to 2018AD</h1>
<p class="mt-5">
  The task of registering famous individuals and their influence has been a recurrent field of study for over two
  thousand years. Over the past few years, this task has expanded to a much larger scale, due to a growing number of
  databases documenting history, allowing statistical analysis of socio-historical facts at an unprecedented scale.
  <span class="fw-semibold">
    <a href="https://www.nature.com/articles/s41597-022-01369-4">Our most recent paper</a> develops a cross-verified
    database of 2.2 million notable individuals</span
  >
  using several Wikipedia editions and Wikidata.
</p>
