<div class="row px-3">
  <div class="col-2 options">
    <dbw-timeline-options
      [selectedYears]="selectedYears"
      (optionsChanged)="onOptionsChanged($event)"
    ></dbw-timeline-options>
  </div>
  <div class="col">
    <div class="canvas-and-selector" (wheel)="onWheel($event)">
      <dbw-timeline-canvas
        [selectedYears]="selectedYears"
        [data]="timelineData"
        [filterOptions]="filterOptions"
        class="mb-3"
      ></dbw-timeline-canvas>
      <dbw-range-selector
        [minValue]="selectedYearsBoundary.min"
        [maxValue]="selectedYearsBoundary.max"
        [minValueSelected]="selectedYears.min"
        [maxValueSelected]="selectedYears.max"
        [enableZoomOnWheel]="false"
        (selectionChanged)="onYearSelectionChanged($event)"
      ></dbw-range-selector>
    </div>
  </div>
</div>
