<nav class="navbar navbar-expand-sm fixed-top p-3 text-bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-overflow" routerLink="/">Notable people database</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" [routerLink]="['/highlights']">Highlights</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" [routerLink]="['/figures']">Figures</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
