.selector-wrapper {
  padding-inline: 1rem;
}

.selector {
  background-color: var(--bs-light);
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.tick {
  background-color: var(--bs-primary);
  height: 100%;
  width: 0.5rem;
  cursor: ew-resize;
  position: absolute;
  transform: translate(-50%);
  z-index: 2;
}

.tick .label {
  position: absolute;
  bottom: 100%;
  white-space: nowrap;
  user-select: none;
  transition: transform 100ms ease-in-out;
}

.left-tick .label {
  right: 0%;
  transform: translateY(20%) scaleY(0%);
}

.right-tick .label {
  left: 0%;
  transform: translateY(20%) scaleY(0%);
}

.selector:hover .tick .label:not(.hidden) {
  transform: translateY(0%) scaleY(100%);
}

.bar {
  background-color: var(--bs-gray-300);
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.hidden {
  transform: translateY(20%) scaleY(0%);
}
