.bar {
  background-color: var(--bs-gray-500);
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.tick {
  background-color: var(--bs-primary);
  height: 100%;
  width: 0.5rem;
  cursor: ew-resize;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
}

.selection-range {
  background-color: var(--bs-gray-300);
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
