<div class="selector-wrapper">
  <div class="selector" #selector>
    <div
      class="tick left-tick"
      [style.left]="getPositionPercentageFromValue(selectedValues.min)"
      (mousedown)="onMouseDown('left')"
    >
      <span class="label">{{ selectedValues.min | dateYear }}</span>
    </div>
    <div
      class="tick right-tick"
      [style.left]="getPositionPercentageFromValue(selectedValues.max)"
      (mousedown)="onMouseDown('right')"
    >
      <span class="label" [class.hidden]="selectedValues.min == selectedValues.max">{{
        selectedValues.max | dateYear
      }}</span>
    </div>
    <div
      #bar
      class="bar"
      [style.left]="getPositionPercentageFromValue(selectedValues.min)"
      [style.width]="getSizePercentageFromValues(selectedValues)"
      (mousedown)="onMouseDown('bar')"
    ></div>
    <div
      class="arrow left-arrow"
      [style.left]="getPositionPercentageFromValue(selectedValues.min)"
      (click)="onClick('left')"
    >
      <span><</span>
    </div>
    <div
      class="arrow right-arrow"
      [style.left]="getPositionPercentageFromValue(selectedValues.max)"
      (click)="onClick('right')"
    >
      <span>></span>
    </div>
  </div>
</div>
