<div class="selector-wrapper">
  <div class="selector" #selector>
    <div class="tick" [style.left]="getPositionPercentageFromValue(minValueSelected)" (mousedown)="onMouseDown('left')">
      <span class="tick-label">{{ minValueSelected | dateYear }}</span>
    </div>
    <div
      class="tick"
      [style.left]="getPositionPercentageFromValue(maxValueSelected)"
      (mousedown)="onMouseDown('right')"
    >
      <span class="tick-label">{{ maxValueSelected | dateYear }}</span>
    </div>
    <div
      class="bar"
      [style.left]="getPositionPercentageFromValue(minValueSelected)"
      [style.width]="getSizePercentageFromValues(minValueSelected, maxValueSelected)"
      (mousedown)="onMouseDown('bar')"
    ></div>
  </div>
</div>
