<h1>Search the dataset</h1>
<div class="d-flex">
  <dbw-search-options></dbw-search-options>
  <dbw-search-results-quick></dbw-search-results-quick>
  <dbw-map></dbw-map>
</div>
<div class="row">
  <h5>Search test</h5>
  <div class="col-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control" formControlName="term" placeholder="Enter search term..." />
      <input type="number" class="form-control" formControlName="page" />
      <button type="submit" class="btn btn-primary my-3">Search</button>
    </form>
  </div>
  <div class="col">
    <pre *ngIf="results">{{ results | json }}</pre>
  </div>
</div>
