<div class="row" [class.d-flex]="!results && !waitingForResponse && !hasAskedForResponse">
  <div
    class="col-md-4 col-lg-3 mb-3 px-5 px-md-0"
    [class.mx-auto]="!results && !waitingForResponse && !hasAskedForResponse"
    [class.px-md-3]="results || waitingForResponse || hasAskedForResponse"
  >
    <div class="options-container">
      <h1 class="text-center mb-3">Find people in history</h1>
      <dbw-search-options
        [requestedQuery]="requestedQuery"
        (queryChanged)="this.searchQueryChanged.next($event)"
        (submitted)="this.searchOptionsSubmitted.next()"
      ></dbw-search-options>
      <p class="mt-3 text-center d-none d-sm-block">
        <a [routerLink]="['/about']" fragment="download">Download the whole dataset here.</a>
      </p>
    </div>
  </div>
  <div class="col-md-8 col-lg-9" *ngIf="results || waitingForResponse || hasAskedForResponse">
    <div class="d-flex mb-3">
      <h3 *ngIf="results">Results</h3>
      <span
        *ngIf="waitingForResponse || pageButtonClickedWithoutResponse"
        class="ms-3 align-self-center loading-label text-primary"
        >Please wait...</span
      >
      <dbw-search-results-page-buttons
        *ngIf="results && results.persons.length > 0 && (results.hasPreviousPage || results.hasNextPage)"
        [results]="results"
        [waitingForResponse]="waitingForResponse"
        (previousPageButtonClicked)="onPreviousPageButtonClick()"
        (nextPageButtonClicked)="onNextPageButtonClick()"
        class="ms-auto"
      ></dbw-search-results-page-buttons>
    </div>
    <dbw-search-results [results]="results"></dbw-search-results>
    <!-- <ul ngbNav #nav="ngbNav" [(activeId)]="currentTab" [destroyOnHide]="false" class="nav nav-pills">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Results</a>
        <ng-template ngbNavContent>
          <dbw-search-results
            [results]="results"
            [waitingForResponse]="waitingForResponse"
            (previousPageRequested)="onPreviousPageRequested()"
            (nextPageRequested)="onNextPageRequested()"
          ></dbw-search-results>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Map</a>
        <ng-template ngbNavContent>
          <dbw-map></dbw-map>
        </ng-template>
      </li>
      <li *ngIf="waitingForResponse || pageButtonClickedWithoutResponse" class="ms-auto loading-label text-primary">
        <span>Please wait...</span>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
  </div>
</div>
