<div class="row">
  <div class="col-lg-4 mb-3">
    <h1 class="text-center">Find people in history</h1>
    <dbw-search-options
      [requestedQuery]="requestedQuery"
      (queryChanged)="this.searchQueryChanged.next($event)"
      (submitted)="this.searchOptionsSubmitted.next()"
    ></dbw-search-options>
  </div>
  <div class="col-lg-8">
    <ul ngbNav #nav="ngbNav" [(activeId)]="currentTab" [destroyOnHide]="false" class="nav nav-pills">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Results</a>
        <ng-template ngbNavContent>
          <dbw-search-results
            [results]="results"
            [waitingForResponse]="waitingForResponse"
            (previousPageRequested)="onPreviousPageRequested()"
            (nextPageRequested)="onNextPageRequested()"
          ></dbw-search-results>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Map</a>
        <ng-template ngbNavContent>
          <dbw-map></dbw-map>
        </ng-template>
      </li>
      <li *ngIf="waitingForResponse || pageButtonClickedWithoutResponse" class="ms-auto loading-label text-primary">
        <span>Please wait...</span>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
