.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 1rem;
}

.loading-label {
  font-weight: 600;
}

.blurred {
  transition: filter 500ms ease-in-out;
  filter: blur(1px) brightness(0.95);
}
