<div class="modal-header">
  <h3 class="modal-title text-wrap text-break">{{ person.name | readableName }}</h3>
  <button type="button" class="btn-close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
  <div class="person-info" [class.image-present]="data?.thumbnail?.source">
    <div class="image-container" *ngIf="data?.thumbnail?.source">
      <a [href]="wikidataUrl">
        <img [src]="data!.thumbnail!.source" class="img-fluid rounded shadow" />
      </a>
    </div>
    <div class="details-panel" [class.image-present]="data?.thumbnail?.source">
      <span *ngIf="person.birth !== null || person.death !== null">Birth</span>
      <span *ngIf="person.birth !== null || person.death !== null">{{
        person.birth | dateYear | unknownYear : true : false
      }}</span>
      <span *ngIf="person.death !== null">Death</span>
      <span *ngIf="person.death !== null">{{ person.death | dateYear }}</span>
      <span *ngIf="person.genderId !== null">Gender</span>
      <span *ngIf="person.genderId !== null">{{ genders[person.genderId] }}</span>
      <span *ngIf="person.level1MainOccId !== null">Occupation</span>
      <span *ngIf="person.level1MainOccId !== null">{{ occupations[person.level1MainOccId] }}</span>
      <span *ngIf="person.citizenship1BId !== null">Citizenship{{ person.citizenship2BId ? "s" : "" }}</span>
      <span *ngIf="person.citizenship1BId !== null"
        >{{ citizenships[person.citizenship1BId]
        }}{{ person.citizenship2BId ? ", " + citizenships[person.citizenship2BId] : "" }}</span
      >
      <span>Notability</span>
      <span>{{ person.notabilityIndex | number : "1.2-2" }}</span>
    </div>
  </div>
  <div class="divider-top mt-3 pt-2" *ngIf="waitingForResponse || data?.extract">
    <p *ngIf="waitingForResponse" class="my-0 fst-italic">Please wait...</p>
    <p *ngIf="data?.extract" class="my-0">{{ data!.extract }}</p>
  </div>
  <div class="divider-top mt-3 pe-2 pt-3 wiki-container">
    <span class="ms-auto text-muted fst-italic">see on...</span>
    <div *ngIf="data?.fullurl">
      <a [href]="data!.fullurl"><img src="assets/images/Wikipedia-logo-v2.svg" /><span>Wikipedia</span></a>
    </div>
    <div class="wiki-container">
      <a [href]="wikidataUrl"><img src="assets/images/Wikidata-logo-en.svg" /><span>Wikidata</span></a>
    </div>
  </div>
</div>
