<div class="modal-header">
  <h3 class="modal-title text-wrap text-break">{{ person.name | readableName }}</h3>
  <button type="button" class="btn-close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col image-container" *ngIf="data?.thumbnail?.source">
      <a [href]="wikidataUrl">
        <img [src]="data!.thumbnail!.source" class="img-fluid rounded" />
      </a>
    </div>
    <div class="col-sm info-panel">
      <div *ngIf="person.birth !== null || person.death !== null">
        <span>Birth</span>
        <span>{{ person.birth | dateYear | unknown : true : false }}</span>
      </div>
      <div *ngIf="person.death !== null">
        <span>Death</span>
        <span>{{ person.death | dateYear }}</span>
      </div>
      <div>
        <span>Gender</span>
        <span>{{ genders[person.genderId ?? -1] | unknown }}</span>
      </div>
      <div>
        <span>Occupation</span>
        <span>{{ occupations[person.level1MainOccId ?? -1] }}</span>
      </div>
      <div>
        <span>Citizenship</span>
        <span>{{ citizenships[person.citizenship1BId ?? -1] }}</span>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <hr />
    <p *ngIf="waitingForResponse">Please wait...</p>
    <p *ngIf="data?.extract">{{ data!.extract }}</p>
    <div class="d-flex">
      <div *ngIf="data?.fullurl" class="wiki-container">
        <a [href]="data!.fullurl"><img src="assets/images/Wikipedia-logo-v2.svg" /><span>Wikipedia Page</span></a>
      </div>
      <div class="ms-auto wiki-container">
        <a [href]="wikidataUrl"><img src="assets/images/Wikidata-logo-en.svg" /><span>Wikidata Page</span></a>
      </div>
    </div>
  </div>
</div>
