.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.image-container img {
  max-height: 40vh;
}

.info-panel > div {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}

.info-panel > div > span:first-child {
  font-weight: 600;
  margin-inline-end: 1rem;
}

.wiki-container img {
  max-height: 2rem;
  width: auto;
  margin-inline-end: 1rem;
}
