.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.image-container img {
  max-height: 40vh;
}

.info-panel {
  display: grid;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  padding: 0.25rem 1rem;
}

.info-panel > span:nth-child(odd) {
  font-weight: 600;
}

.info-panel > span:nth-child(even) {
  text-align: center;
}

.wiki-container a {
  display: grid;
  grid-template-columns: auto 1fr;
}

.wiki-container img {
  max-height: 1.75rem;
  width: auto;
  margin-inline-end: 0.5rem;
}
