<div class="modal-header">
  <h3 class="modal-title text-wrap text-break">{{ person.name }}</h3>
  <button type="button" class="btn-close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col image-container" *ngIf="data?.thumbnail?.source">
      <a [href]="wikidataUrl">
        <img [src]="data!.thumbnail!.source" class="img-fluid rounded" />
      </a>
    </div>
    <div class="col-sm info-panel">
      <div *ngIf="person.birth !== null || person.death !== null">
        <span>Birth</span>
        <span>{{ person.birth | dateYear | unknown: true:false }}</span>
      </div>
      <div *ngIf="person.death !== null">
        <span>Death</span>
        <span>{{ person.death | dateYear }}</span>
      </div>
      <div>
        <span>Gender</span>
        <span>{{ person.gender | unknown }}</span>
      </div>
      <div>
        <span>Occupation</span>
        <span>{{ person.level1MainOcc }}</span>
      </div>
      <div>
        <span>Citizenship</span>
        <span>{{ person.citizenship1B }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <p *ngIf="data?.extract" class="mb-0">{{ data!.extract }}</p>
    <div class="d-flex mt-3">
      <span *ngIf="data?.wikipediaUrl"><a [href]="data!.wikipediaUrl">Wikipedia Page</a></span>
      <span class="ms-auto"><a [href]="wikidataUrl">Wikidata Page</a></span>
    </div>
  </div>
</div>
