<div class="canvas-wrapper">
  <dbw-timeline-canvas-painter
    [dataSelected]="dataSelected"
    [maxSelectedDataPointsAtAnyMoment]="maxSelectedDataPointsAtAnyMoment"
    [buckets]="buckets"
    (numBucketsUpdated)="onNumBucketsReceived($event)"
  ></dbw-timeline-canvas-painter>
  <dbw-timeline-canvas-mouse-area></dbw-timeline-canvas-mouse-area>
  <!-- <div *ngIf="lastValidMousePositionPixels" class="year-line" style.left="{{ lastValidMousePositionPixels.x }}px">
    <div class="year-wrapper" [class.hidden]="!mousePositionPixels">
      <span *ngIf="mouseYears && mouseYears.min == mouseYears.max" class="year">{{ mouseYears.min | dateYear }}</span>
      <span *ngIf="mouseYears && mouseYears.min < mouseYears.max" class="year"
        >{{ mouseYears.min | dateYear }} – {{ mouseYears.max | dateYear }}</span
      >
    </div>
  </div> -->
</div>
