.canvas-wrapper {
  height: calc(100vh - 10rem);
  margin-bottom: 1rem;
  position: relative;
}

canvas {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--bs-gray-400);
}

.pointer {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: var(--bs-primary);
  height: 1.75rem;
  width: 1.75rem;
  position: absolute;
  z-index: 3;
  transform: translate(-50%, -50%) scale(100%, 100%);
  transition: transform 200ms ease-in-out;
}

.hidden {
  transform: translate(-50%, -50%) scale(0%, 0%);
}
