<div class="canvas-wrapper">
  <canvas #canvas></canvas>
  <div
    class="pointer border-primary"
    [class.hidden]="!hoveredPoint"
    [class.clickable]="hoveredPoint && hoveredPointPerson"
    [class.loading]="!hoveredPoint || !hoveredPointPerson"
    style.width="{{ hoverRadiusPixels * 2 }}px"
    style.left="{{ pointerPositionPixels.x }}px"
    style.top="{{ pointerPositionPixels.y }}px"
    (click)="onPointerClick()"
  ></div>
  <div
    class="hovered-card-wrapper"
    [class.hidden]="!hoveredPointPerson"
    style.left="{{ pointerPositionPixels.x }}px"
    style.top="{{ pointerPositionPixels.y - hoverRadiusPixels }}px"
  >
    <dbw-person-small-card [person]="hoveredPointPerson" [wikiPage]="hoveredPointWikiPage"></dbw-person-small-card>
  </div>
  <div class="year-line" style.left="{{ pointerPositionPixels.x }}px">
    <!-- <span class="year">{{ selectedYears }}</span> -->
  </div>
</div>
