.canvas-wrapper {
  height: calc(100vh - 10rem);
  margin-bottom: 1rem;
  /* background-color: var(--bs-light);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}

/* .bucket {
  display: flex;
  flex-direction: column;
}

.point {
  margin: 1px;
  width: 4px;
  height: 4px;
  background-color: black;
} */

canvas {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--bs-gray-400);
}
