<div
  *ngIf="lastInsideMousePosition"
  class="pointer border-primary"
  [class.hidden]="!hovered.point || hovered.person"
  [class.clickable]="hovered.point && hovered.person"
  [class.loading]="!hovered.point || !hovered.person"
  style.width="{{ hoverRadiusPixels * 2 }}px"
  style.left="{{ lastInsideMousePosition.x }}px"
  style.top="{{ lastInsideMousePosition.y }}px"
></div>
<div
  *ngIf="hoveredCardPosition"
  class="card-wrapper"
  [class.hidden]="!hovered.person"
  style.left="{{ hoveredCardPosition.x }}px"
  style.top="{{ hoveredCardPosition.y }}px"
>
  <dbw-person-small-card
    [person]="hovered.person"
    [wikiPage]="hovered.wikiPage"
    [showPicture]="true"
    (dimensionsChanged)="onHoveredCardDimensionsChanged($event)"
  ></dbw-person-small-card>
</div>
<div
  *ngFor="let highlight of highlighted"
  class="card-wrapper highlight"
  [class.d-none]="!highlight.position"
  [class.hidden]="!highlight.person || hovered.person"
  style.--size-percentage="{{ maxCardSizeFraction * 100 }}%"
  style.left="{{ highlight.position?.x }}px"
  style.top="{{ highlight.position?.y }}px"
>
  <dbw-person-small-card
    [person]="highlight.person"
    [wikiPage]="highlight.wikiPage"
    [showPicture]="true"
  ></dbw-person-small-card>
</div>
