.search-result {
  display: grid;
  /* Hide less essential columns on small screens */
  grid-template-columns: 2fr 0fr 0fr 0fr 1fr 1fr;
  column-gap: 0.5rem;
  margin: 0;
  padding: 0 0.25rem 0 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(150, 150, 150);
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}

@media (min-width: 576px) {
  .search-result {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.search-result:hover {
  background-color: rgb(240, 240, 240);
}

.search-result > span {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.results-header {
  background-color: rgb(100, 100, 100);
  color: white;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(150, 150, 150);
  text-transform: uppercase;
  cursor: default;
}

.results-header:hover {
  background-color: rgb(100, 100, 100);
}

@media (min-width: 960px) {
  .search-result {
    padding: 0.25rem 0.5rem;
  }
}
