<div class="d-flex flex-column align-items-center">
  <div class="text-center">
    <h5>
      <span class="position-relative">
        Earth Visualization
        <a [href]="topiLink" class="stretched-link"></a>
      </span>
    </h5>
    <p>
      Topi Tjukanov created an <a [href]="topiLink">interactive visualization</a> of the most notable people around the
      world, using our dataset.
    </p>
  </div>
  <div class="position-relative">
    <img src="assets/highlights/topi.png" class="img-fluid rounded" />
    <a [href]="topiLink" class="stretched-link"></a>
  </div>
</div>
<div class="highlight-row mt-5">
  <h5 class="text-center mb-3">
    <span class="position-relative">
      Top 0.1% of all scientific papers
      <a [href]="altmetricLink" class="stretched-link"></a>
    </span>
  </h5>
  <!-- <div class="d-md-flex">
    <p>
      According to Altmetric, as of October 2022, we are now in the top 0.1% of all scientific papers of a similar age,
      and in the top 5% of all research papers ever.
    </p>
    <div class="ms-md-3 position-relative d-flex justify-content-center">
      <img src="assets/apps/altmetric-oct-2022.png" class="rounded" />
      <a [href]="altmetricLink" class="stretched-link"></a>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <p>
        <a [href]="altmetricLink">According to Altmetric</a>, as of October 2022, we are now in the top 0.1% of all
        scientific papers of a similar age, and in the top 5% of all research papers ever.
      </p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="position-relative">
        <img src="assets/highlights/altmetric-oct-2022.png" class="img-fluid rounded justify-self-center" />
        <a [href]="altmetricLink" class="stretched-link"></a>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
