video {
  width: 100%;
}

.topi-section {
  height: 20rem;
  padding: 1.5rem;
}

.topi-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/highlights/topi.jpg");
  background-size: cover;
  background-position: center 0%;
  filter: contrast(80%);
}

.topi-section-text {
  z-index: 2;
  position: relative;
}

@media (min-width: 768px) {
  .search-info {
    display: flex;
    flex-direction: column;
  }

  .search-info .sunburst {
    height: 100%;
    background-image: url("/assets/highlights/sunburst-2.png");
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 1rem;
  }

  .search-info .search-description {
    padding-inline-end: 1rem;
  }

  .search-section .search-app {
    border-left: 1px solid lightgray;
  }
}

.timeline-section {
}

.timeline-section img {
  /* max-height: 100%; */
  /* width: auto; */
}
