@media (min-width: 768px) {
  .search-info {
    display: flex;
    flex-direction: column;
  }

  .search-info .sunburst {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .search-info .sunburst .image {
    position: absolute;
    bottom: 0;
    height: 70%;
    width: 100%;

    background-image: linear-gradient(
        to bottom left,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      ),
      url("/assets/highlights/sunburst-2.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    border-radius: 1rem;
    filter: opacity(90%);
  }

  .search-info .search-description {
    padding-inline-end: 1rem;
  }

  .search-section .search-app {
    border-left: 1px solid lightgray;
  }
}

.info-image-section {
}

.info-image-section .image {
  height: 18rem;
  width: 100%;
  background-origin: content-box;
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .info-image-section .image {
    mask-image: linear-gradient(to right, transparent, black 40%);
  }
}

.timeline-section .image {
  background-image: url("/assets/highlights/timeline.png");
}

.topi-section .image {
  background-image: url("/assets/highlights/topi.jpg");
  filter: contrast(80%);
}

video {
  border-radius: 1rem;
  max-height: 18rem;
  max-width: 100%;
}
