<div class="row">
  <div class="d-0 d-lg-block col-lg-1"></div>
  <div class="col-lg-10">
    <div class="row search-section">
      <div class="col-md search-info">
        <div class="bg-white py-2 search-description">
          <h5>
            <a [routerLink]="['/search']" class="text-reset">Explore the database online</a>
          </h5>
          <p>
            <a [routerLink]="['/search']" class="fw-semibold">Search for people in the database</a> by filtering by
            name, birth and death year, gender, occupation, or citizenship.
          </p>
        </div>
        <div class="sunburst"><div class="image"></div></div>
      </div>
      <div class="col-md-auto p-md-3 d-flex justify-content-center bg-white search-app">
        <dbw-search-options (submitted)="onSearchOptionsSubmit($event)"></dbw-search-options>
      </div>
    </div>

    <div class="mt-5 row info-image-section timeline-section">
      <div class="col-md-4">
        <h5><a [routerLink]="['/timeline']" class="text-reset">Interactive timeline</a></h5>
        <p>
          Discover people in history through
          <a [routerLink]="['/timeline']" class="fw-semibold">this interactive visualization of people through time.</a>
        </p>
      </div>
      <div class="col-md position-relative">
        <div class="image"></div>
        <a [routerLink]="['/timeline']" class="stretched-link"></a>
      </div>
    </div>

    <div class="mt-5 row info-image-section topi-section">
      <div class="col-md-4">
        <h5>Earth visualization</h5>
        <p>
          Click to can see an <a [href]="topiProjectLink" class="fw-semibold">interactive visualization</a> of the most
          notable people in the world.
        </p>
        <p class="text-muted">credits to <a [href]="topiPersonalLink" class="text-reset">Topi Tjukanov</a></p>
      </div>
      <div class="col-md position-relative">
        <div class="image"></div>
        <a [href]="topiProjectLink" class="stretched-link"></a>
      </div>
    </div>

    <div class="mt-5 row">
      <div class="col-md">
        <h5>Timeline of Europe, 1000 AD onwards</h5>
        <p>This animation shows a timeline of the birthplaces of notable people in Europe from 1000 AD onwards.</p>
        <p class="text-muted">
          credits to <a [href]="inquisitiveBirdTwitterLink" class="text-reset">@Scientific_Bird</a>
        </p>
      </div>
      <div class="col-md d-flex">
        <video autoplay controls muted loop class="mx-auto">
          <source src="assets/highlights/europe-vis-1000ad-onwards.mp4" />
          Download the <a href="assets/highlights/europe-vis-1000ad-onwards.mp4">video.</a>
        </video>
      </div>
    </div>

    <div class="mt-5 row" *ngIf="altmetricResponse">
      <h5 class="mb-3">Paper metrics</h5>
      <div class="row">
        <div class="col-auto"><img [src]="altmetricResponse.images.medium" /></div>
        <div class="col">
          <p class="mb-2">So far:</p>
          <ul>
            <li>Our database has more than 155,000 downloads.</li>
            <li>
              <a [href]="altmetricLink"
                >We have news stories from {{ altmetricResponse.cited_by_msm_count }} outlets.</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-5 row" *ngIf="articlesUsingUs.length > 0">
      <h5 class="mb-3">Articles using our data</h5>
      <div class="col">
        <p class="mb-2">Some articles using our data:</p>
        <ul>
          <li *ngFor="let article of articlesUsingUs">
            <a [href]="article.url">{{ article.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-0 d-lg-block col-lg-1"></div>
</div>
