/* img {
  width: 100%;
} */

video {
  width: 100%;
}

.search-img {
  width: 100%;
}

.topi-img {
  width: 100%;
}

.altmetric-img {
  width: 100%;
}

.topi-section {
  background-image: url("/assets/highlights/topi.jpg");
  background-size: cover;
  background-position: center 0%;
  height: 20rem;
  padding: 1.5rem;
}

.topi-section-text {
  z-index: 2;
  position: relative;
}

.search-section {
  background-image: url("/assets/figures/fig3.png");
  background-size: cover;
  background-position: center 0%;
}
