<ul class="navbar-nav text-end text-muted">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/search']">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/timeline']">Timeline</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/map']">Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/highlights']">Highlights</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/figures']">Figures</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/about']">About</a>
  </li>
</ul>
