.card {
  width: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--bs-primary);

  background-size: cover;
  background-position: center 0%;

  overflow: clip;
}

.info {
  padding: 0.5rem;
}

.name {
  text-align: center;
}

.years {
  text-align: center;
  margin-bottom: 0;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}
