<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="text-center">
    <h5 *ngIf="title">{{ title }}</h5>
    <p *ngIf="description">{{ description }}</p>
  </div>
  <div>
    <a *ngIf="targetUrl" [href]="targetUrl">
      <img src="{{ baseHref }}{{ imageSource }}" class="img-fluid rounded" />
    </a>
    <a *ngIf="targetRoute" [routerLink]="[targetRoute]">
      <img src="{{ baseHref }}{{ imageSource }}" class="img-fluid rounded" />
    </a>
  </div>
</div>
