.two-column-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 20rem;
}

.form-label {
  margin-top: 0.25rem;
}

.number-range {
  display: grid;
  grid-template-columns: auto max-content auto;
  column-gap: 1rem;
}

.number-range span {
  align-self: center;
  text-align: center;
}

.invalid-feedback {
  display: block;
}

.full-row {
  grid-column: 1 / 3;
}
