<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="two-column-grid">
  <label for="term" class="form-label">Name</label>
  <div>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Enter name..."
      [class.is-invalid]="nameField.invalid"
      [ngbPopover]="nameTipsPopover"
      placement="bottom"
      autoClose="true"
    />
    <ng-template #nameTipsPopover>
      <p class="mb-0">
        Use <span class="fw-bold text-primary">*</span> to match 0 or more characters (try it at the start or end!)
      </p>
      <p class="mb-0">Use <span class="fw-bold text-primary">?</span> to match a single character</p>
    </ng-template>
    <div *ngIf="nameField.errors?.['pattern']" class="invalid-feedback">The name contains invalid characters.</div>
    <div *ngIf="nameField.errors?.['maxlength']" class="invalid-feedback">The name is too long.</div>
  </div>

  <label class="form-label">Birth year</label>
  <div>
    <div class="number-range">
      <input
        type="number"
        step="1"
        class="form-control"
        formControlName="birthMin"
        [placeholder]="LIFE_YEAR_MIN"
        [class.is-invalid]="birthMinField.invalid"
      />
      <span>to</span>
      <input
        type="number"
        step="1"
        class="form-control"
        formControlName="birthMax"
        [placeholder]="LIFE_YEAR_MAX"
        [class.is-invalid]="birthMaxField.invalid"
      />
    </div>
    <div
      *ngIf="birthMinField.errors?.['isIntegerOrNull'] || birthMaxField.errors?.['isIntegerOrNull']"
      class="invalid-feedback"
    >
      Years must be whole numbers.
    </div>
  </div>

  <label class="form-label">Death year</label>
  <div>
    <div class="number-range">
      <input
        type="number"
        class="form-control"
        formControlName="deathMin"
        [class.is-invalid]="deathMinField.invalid"
        [placeholder]="LIFE_YEAR_MIN"
      />
      <span>to</span>
      <input
        type="number"
        class="form-control"
        formControlName="deathMax"
        [class.is-invalid]="deathMaxField.invalid"
        [placeholder]="LIFE_YEAR_MAX"
      />
    </div>
    <div
      *ngIf="deathMinField.errors?.['isIntegerOrNull'] || deathMaxField.errors?.['isIntegerOrNull']"
      class="invalid-feedback"
    >
      Years must be whole numbers.
    </div>
  </div>

  <label for="citizenshipId" class="form-label">Citizenship</label>
  <select class="form-select" formControlName="citizenshipId">
    <option [ngValue]="null">Any</option>
    <option *ngFor="let country of citizenships" [ngValue]="country.id">{{ country.name }}</option>
  </select>

  <label for="genderId" class="form-label">Gender</label>
  <select class="form-select" formControlName="genderId">
    <option [ngValue]="null">Any</option>
    <option *ngFor="let gender of genders" [ngValue]="gender.id">{{ gender.name }}</option>
  </select>

  <div class="full-row">
    <label class="form-label">Occupation</label>
    <div class="two-column-grid ps-3">
      <label for="occupationLevel1Id" class="form-label">Level 1</label>
      <select class="form-select" formControlName="occupationLevel1Id">
        <option [ngValue]="null">Any</option>
        <option *ngFor="let occupation of occupationsLevel1" [ngValue]="occupation.id">{{ occupation.name }}</option>
      </select>
      <label class="form-label">Level 3</label>
      <dbw-variable-search
        [variables]="occupationsLevel3"
        [pushedSelected]="recentmostPushedOccupationLevel3"
        (resultSelected)="onOccupationLevel3Selected($event)"
      ></dbw-variable-search>
    </div>
  </div>

  <div class="full-row d-flex">
    <button type="submit" class="btn btn-secondary ms-auto">Search</button>
  </div>
</form>
