<p>
  Since the time Plutarch's Parallel Lives was written in the beginning of the second century AD and his 23 biographies
  have survived two thousand years (or even more ancient, the Epic of Gilgamesh dates back to 2000 BC), the task of
  registering famous individuals and their influence has been a recurrent field of study. Over the last few years, this
  task has been undertaken to a much larger scale, with a growing number of databases documenting history, allowing
  statistical analysis of socio-historical facts, at a scale that had never been reached so far.
</p>
<p>
  <a href="https://www.nature.com/articles/s41597-022-01369-4">Our most recent paper</a> develops a cross-verified
  database of 2.2 million notable individuals using several Wikipedia editions and Wikidata.
</p>
<p>
  This approach was pioneered by <a routerLink="." fragment="schich">Schich et al. (2014)</a> who focused on lifetime
  mobility of 150,000 notable individuals across centuries and continents using all available birth and death data found
  in Freebase, a Google-owned knowledge database. <a routerLink="." fragment="yu">Yu et al. (2016)</a> also used
  Freebase and the English edition of Wikipedia to assemble a manually-verified database of 11,341 individuals present
  in more than 25 language editions of Wikipedia called Pantheon 1.0. For larger databases, the fast-growing
  verification cost currently prevents scientists from considering in a satisfactory way less prominent individuals, who
  may however have had a significant impact at a more local level. See for instance Yago (<a
    routerLink="."
    fragment="tanon"
    >Tanon et al. (2020)</a
  >, the second version of Pantheon (2.0) in <a routerLink="." fragment="jara">Jara-Figueroa and Hidalgo (2019)</a> and
  a recent independent work by <a routerLink="." fragment="nekoei">Nekoei and Sinn (2020)</a>).
</p>
<p>
  Our approach complements existing approaches in several ways. First, we collect a massive amount of data that leads to
  several cross-verifications. It is based on multiple sources (various editions of Wikipedia and Wikidata) and
  deduplication techniques. The combination of Wikipedia and Wikidata brings 2.72% new birth dates, 8.16% new
  occupations and 17.16% new citizenships. We find that there are very few errors in the part of the database that
  contains the most documented individuals. We also find non trivial error rates (around 1%) in the bottom part of the
  notability distribution, due to sparse information and classification errors or ambiguity. This either requires manual
  corrections for future use or a statistical treatment of these errors in statistical approaches. The combination of
  Wikipedia and Wikidata corrects about 0.5% of errors. One therefore needs to trade-off the size of the database and
  the precision of the data.
</p>
<p>
  Second, we adopt a social science approach: data collection is driven by specific social questions on gender, economic
  and cultural development and quantitative exploration of cultural trends that we document in this paper. This approach
  is used in particular to document the Anglo-Saxon bias naturally present in existing projects based on the English
  edition of Wikipedia.
</p>
This strategy results in a cross-verified database of 2.2 million unique individuals (we do not recommend to go beyond
given the errors in the extended database of 4.7 million people. We also add a large fraction of newly-added individuals
from non-English editions of Wikipedia who actually played a significant role in important periods of human history.
There are more than 700,000 such individuals, almost a third of the database we verified.
<p>
  Such projects represent promising developments for the Social Sciences. A good example is illustrated by
  <a routerLink="." fragment="serafinelli">Serafinelli and Tabellini (2017)</a> (see related Vox column) who analyzed
  the historical development of cities and relate it to the emergence of a creative class using
  <a routerLink="." fragment="schich">Schich et al. (2014)</a> or
  <a routerLink="." fragment="croix">de la Croix and Licandro (2015)</a> our previous work in its 1.0. version in
  <a routerLink="." fragment="gergaud">Gergaud et al. (2016)</a>.
</p>
<p>We welcome comments on our approach, and point towards this website to obtain the data, or extended requests.</p>

<h5>Papers</h5>
<dbw-paper-reference
  *ngFor="let reference of references"
  [description]="reference.description"
  [paperTitle]="reference.paperTitle"
  [paperUrl]="reference.paperUrl"
  [inlineCitation]="reference.inlineCitation"
  [bibtexCitation]="reference.bibtexCitation"
  [shouldBoldPaperTitle]="reference.shouldBoldPaperTitle"
></dbw-paper-reference>

<h5>Authors</h5>
<ul>
  <li>
    <a href="https://www.sciencespo.fr/liepp/user/502">Morgane Laouenan</a> - CNRS, Centre d'Economie de la Sorbonne and
    LIEPP-Sciences Po
  </li>
  <li><a href="https://sites.google.com/view/palaashbhargava">Palaash Bhargava</a> - Columbia University</li>
  <li><a href="https://sites.google.com/site/jeanbenoiteymeoud/">Jean-Benoit Eymeoud</a> - LIEPP-Sciences Po</li>
  <li><a href="http://olivier.gergaud.free.fr/">Olivier Gergaud</a> - KEDGE Business School and LIEPP-Sciences Po</li>
  <li>
    <a href="https://medialab.sciencespo.fr/en/people/guillaume-plique/">Guillaume Plique</a> - médialab-Sciences Po
  </li>
  <li>
    <a href="https://sites.google.com/site/etiennewasmer/">Etienne Wasmer</a> - NYU Abu Dhabi and LIEPP-Sciences Po
  </li>
</ul>

<h6>Additional credits</h6>
<ul>
  <li><a href="https://www.linkedin.com/in/minda-belete-724511180/">Minda Belete</a> - Research assistant</li>
</ul>

<h5>References</h5>
<ul>
  <li id="croix">
    <em
      >de la Croix, D. and O. Licandro (2015): “The longevity of famous people from Hammurabi to Einstein,” Journal of
      Economic Growth, 20, 263-303.</em
    >
  </li>
  <li id="gergaud">
    <em
      >Gergaud, O., M. Laouenan, and E. Wasmer (2016): “A Brief History of Human Time: Exploring a database of 'notable
      people',” Sciences Po Economics Discussion Papers 2016-03, Sciences Po Departement of Economics.</em
    >
  </li>
  <li id="jara">
    <em
      >Jara-Figueroa, Christian, Y. A. and C. Hidalgo (2019): “How the medium shapes the message: Printing and the rise
      of the arts and sciences,” Plos One, 14(2): e0205771.</em
    >
  </li>
  <li id="nekoei">
    <em
      >Nekoei, Arash and Sinn, Fabian, Human Biographical Record (HBR) (December 2, 2020). Available at SSRN:
      https://ssrn.com/abstract=3741450</em
    >
  </li>
  <li id="schich">
    <em
      >Schich, M., C. Song, Y.-Y. Ahn, A. Mirsky, M. Martino, A.-L. Barabási, and D. Helbing (2014): “A network
      framework of cultural history,” Science, 345, 558-562.</em
    >
  </li>
  <li id="serafinelli">
    <em>Serafinelli, M. and G. Tabellini (2017): “Creativity over time and space,” Available at SSRN 3070203.</em>
  </li>
  <li id="tanon">
    <em
      >Tanon, T. P., G. Weikum, and F. Suchanek (2020): “YAGO 4: A Reason-able Knowledge Base,” in European Semantic Web
      Conference, Springer, 583-596.</em
    >
  </li>
  <li id="yu">
    <em
      >Yu, A. Z., S. Ronen, K. Hu, T. Lu, and C. A. Hidalgo (2016): “Pantheon 1.0, a manually verified dataset of
      globally famous biographies,” Scientific data, 3, 150075.</em
    >
  </li>
</ul>

<h5 id="download">Sample & database</h5>
<p>
  The full cross-verified dataset can be found here:<br /><a href="https://doi.org/10.21410/7E4/RDAG3O"
    >https://doi.org/10.21410/7E4/RDAG3O</a
  >
</p>
<p>
  All the code and intermediate data used to produced the beforementioned dataset can be found here:<br /><a
    href="https://doi.org/10.21410/7E4/YLG6YR"
    >https://doi.org/10.21410/7E4/YLG6YR</a
  >
</p>
<p>
  For convenience, you can download a random sample out of <code>100k</code> records of the
  <code>~3.2M</code> individuals found in the full database by clicking on the following link:<br /><a href="."
    >(link will be available soon)</a
  >
</p>
<p>
  For any other questions and enquiries, please contact us by sending an email to <code>5000yearsbhht@gmail.com</code> .
</p>

<h5>License & funding</h5>
<p>
  This paper describes the 2.0 version of a project started in 2014 collecting and exploiting data from individuals with
  a biography in several language editions of Wikipedia under a
  <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License"
    >CC-BY-SA</a
  >
  license and from Wikidata under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> license.
</p>
<p>
  This paper is a discussion paper aiming at getting comments and feedback and sharing freely a sample of 100,000
  observations. The final version of the full database will be published under the terms of the Creative Commons
  Attribution-ShareAlike license at the time of the scientific publication.
</p>
<p>
  Financial support from <a href="https://www.sciencespo.fr/liepp/en.html">LIEPP</a> (ANR-11-LABX-0091,
  ANR-11-IDEX-0005-02) and <a href="https://nyuad.nyu.edu/">NYUAD</a> is gratefully acknowledged.
</p>
